openapi: 3.0.3
info:
  title: Unofficial Skylight API (Community Reference)
  version: 0.5.1
  description: |
    Reverse-engineered reference for Skylight endpoints based on observed traffic.
    JSON:API-style resources are common (type, id, attributes, relationships).
    **Unofficial**; for research and interoperability. All examples redacted.
servers:
  - url: https://app.ourskylight.com
tags:
  - name: Auth
  - name: User
  - name: Frames
  - name: Chores
  - name: Categories
  - name: Devices
  - name: Lists
  - name: TaskBox
  - name: Calendars
  - name: Meals
  - name: Notifications
  - name: Rewards
  - name: Messages
  - name: Albums
  - name: Automation
  - name: System

# All API endpoints require the Bearer access token (see securitySchemes).
# The /oauth/token endpoint itself is unauthenticated.
security:
  - skylight_auth: [ everything ]

components:
  securitySchemes:
    skylight_auth:
      type: oauth2
      description: >
        Authorization Code grant with PKCE (S256) for the public mobile client
        (client_id 'skylight-mobile', no client secret). The app opens
        /oauth/authorize (params: response_type=code, redirect_uri=
        'skylight-family://welcome', scope=everything, state, code_challenge,
        code_challenge_method=S256, prompt=login); when no web session exists it
        302-redirects to /auth/session/new to log in. The redirect_uri is a
        custom URL scheme, so the returned authorization code and the
        code->token exchange (grant_type=authorization_code, code_verifier)
        were not captured. Thereafter the app refreshes via the refresh_token
        grant against /oauth/token, yielding an opaque Bearer access token
        (~2h expiry) and a rotating refresh token. See docs/auth.md.
      flows:
        authorizationCode:
          authorizationUrl: https://app.ourskylight.com/oauth/authorize
          tokenUrl: https://app.ourskylight.com/oauth/token
          refreshUrl: https://app.ourskylight.com/oauth/token
          scopes:
            everything: Full access (observed scope value)

  schemas:
    JsonApiResourceId:
      type: object
      properties:
        type:
          type: string
        id:
          type: string
      required: [ type, id ]

    # ---- Categories ----
    CategoryAttributes:
      type: object
      properties:
        id:
          type: integer
          nullable: true
          description: Numeric category id (also present as the JSON:API resource id string).
        color:
          type: string
          nullable: true
          description: Hex color; observed with leading '#'
          pattern: "^#?[0-9A-Fa-f]{6}$"
        selected_for_chore_chart:
          type: boolean
          nullable: true
        linked_to_profile:
          type: boolean
          nullable: true
        label:
          type: string
          nullable: true
        profile_pic_url:
          type: string
          nullable: true
          description: Also observed as 'profile_picture' in some contexts.
        profile_picture_urls:
          type: object
          nullable: true
          description: Per-size profile picture URLs (each nullable when unset). Observed on the 'category_detail' resource returned by GET /categories.
          properties:
            original: { type: string, nullable: true }
            xl: { type: string, nullable: true }
            large: { type: string, nullable: true }
            medium: { type: string, nullable: true }
            small: { type: string, nullable: true }
        avatar_id:
          type: string
          nullable: true
        birthday:
          type: string
          format: date
          nullable: true
        dietary_preferences:
          type: array
          nullable: true
          items: { type: string }
      additionalProperties: true

    CategoryResource:
      type: object
      properties:
        type:
          type: string
          description: >
            JSON:API resource type. The GET /categories collection returns
            'category_detail' (with profile_picture_urls); categories embedded
            via `include` in other resources use 'category'.
          enum: [ category, category_detail ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/CategoryAttributes"
      required: [ type, id ]

    # ---- Chores ----
    ChoreAttributes:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        summary:
          type: string
        status:
          type: string
          description: Known values include 'pending'
        start:
          type: string
          format: date
        start_time:
          type: string
          nullable: true
          description: e.g., '10:00'
        completed_on:
          type: string
          nullable: true
        is_future:
          type: boolean
          nullable: true
        recurring:
          type: boolean
        recurring_until:
          type: string
          nullable: true
        recurrence_set:
          type: array
          nullable: true
          description: Array of RFC 5545 RRULE strings. Observed e.g. ["RRULE:FREQ=DAILY;INTERVAL=1;BYHOUR=6,20"].
          items: { type: string }
        reward_points:
          type: integer
          nullable: true
        emoji_icon:
          type: string
          nullable: true
        routine:
          type: boolean
          nullable: true
        position:
          type: integer
          nullable: true
        group:
          type: string
          nullable: true
        series:
          type: string
          nullable: true
          description: Series identifier shared by recurring instances; observed equal to 'group'.
        timer_seconds:
          type: integer
          nullable: true
        up_for_grabs:
          type: boolean
          nullable: true
      additionalProperties: true

    ChoreRelationships:
      type: object
      properties:
        category:
          type: object
          properties:
            data:
              $ref: "#/components/schemas/JsonApiResourceId"
        completed_category:
          type: object
          properties:
            data:
              $ref: "#/components/schemas/JsonApiResourceId"
        habit_tracker:
          type: object
          properties:
            data:
              $ref: "#/components/schemas/JsonApiResourceId"
        linked_task_group:
          type: object
          properties:
            data:
              $ref: "#/components/schemas/JsonApiResourceId"

    ChoreResource:
      type: object
      properties:
        type:
          type: string
          description: JSON:API resource type
          enum: [ chore ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/ChoreAttributes"
        relationships:
          $ref: "#/components/schemas/ChoreRelationships"
      required: [ type, id, attributes ]

    # ---- Devices ----
    DeviceAttributes:
      type: object
      description: Placeholder until a 200 body is captured.
      additionalProperties: true

    DeviceResource:
      type: object
      properties:
        type:
          type: string
          enum: [ device ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/DeviceAttributes"
      required: [ type, id ]

    # ---- Lists ----
    ListAttributes:
      type: object
      properties:
        label:
          type: string
        color:
          type: string
          nullable: true
          description: Hex color; observed with leading '#'
          pattern: "^#?[0-9A-Fa-f]{6}$"
        kind:
          type: string
          description: "Known values: shopping or to_do"
        default_grocery_list:
          type: boolean
      additionalProperties: true

    ListRelationships:
      type: object
      properties:
        list_items:
          type: object
          properties:
            data:
              type: array
              items:
                $ref: "#/components/schemas/JsonApiResourceId"

    ListResource:
      type: object
      properties:
        type:
          type: string
          enum: [ list ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/ListAttributes"
        relationships:
          $ref: "#/components/schemas/ListRelationships"
      required: [ type, id, attributes ]

    ListItemAttributes:
      type: object
      properties:
        label:
          type: string
        status:
          type: string
          enum: [ pending, completed ]
        section:
          type: string
          nullable: true
        position:
          type: integer
          nullable: true
        created_at:
          type: string
          format: date-time
          nullable: true
      additionalProperties: true

    ListItemResource:
      type: object
      properties:
        type:
          type: string
          enum: [ list_item ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/ListItemAttributes"
      required: [ type, id ]

    # ---- Task Box Items ----
    TaskBoxItemAttributes:
      type: object
      properties:
        id:
          type: integer
          nullable: true
        summary:
          type: string
        emoji_icon:
          type: string
          nullable: true
        routine:
          type: boolean
          nullable: true
        reward_points:
          type: integer
          nullable: true
      additionalProperties: true

    TaskBoxItemResource:
      type: object
      properties:
        type:
          type: string
          enum: [ task_box_item ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/TaskBoxItemAttributes"
      required: [ type, id, attributes ]

    # ---- Frames (minimal) ----
    FrameAttributes:
      type: object
      additionalProperties: true

    FrameResource:
      type: object
      properties:
        type:
          type: string
          enum: [ frame ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/FrameAttributes"
      required: [ type, id ]

    # ---- Calendars ----
    SourceCalendarAttributes:
      type: object
      additionalProperties: true

    SourceCalendarResource:
      type: object
      properties:
        type:
          type: string
          enum: [ source_calendar ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/SourceCalendarAttributes"
      required: [ type, id ]

    CalendarEventAttributes:
      type: object
      properties:
        summary:
          type: string
        description:
          type: string
          nullable: true
        kind:
          type: string
          nullable: true
          description: "Observed 'standard'."
        starts_at:
          type: string
          format: date-time
          nullable: true
        ends_at:
          type: string
          format: date-time
          nullable: true
        all_day:
          type: boolean
          nullable: true
        rrule:
          type: string
          nullable: true
          description: RFC 5545 RRULE for recurring events.
        timezone:
          type: string
          nullable: true
          description: IANA timezone identifier.
        location:
          type: string
          nullable: true
        lat:
          type: number
          format: double
          nullable: true
        lng:
          type: number
          format: double
          nullable: true
        countdown_enabled:
          type: boolean
          nullable: true
        calendar_id:
          type: string
          nullable: true
        calendar_account_id:
          type: string
          nullable: true
        invited_emails:
          type: array
          nullable: true
          items: { type: string }
        category_ids:
          type: array
          nullable: true
          items: { type: string }
        uid:
          type: string
          nullable: true
          description: iCalendar UID of the event.
        status:
          type: string
          nullable: true
          description: Observed value 'approved'.
        recurring:
          type: boolean
          nullable: true
        recurring_config:
          type: boolean
          nullable: true
          description: Observed as false on non-recurring events; may carry richer config elsewhere.
        master_event_id:
          type: string
          nullable: true
          description: Set on instances of a recurring series; null otherwise.
        source:
          type: string
          nullable: true
          description: Origin of the event. Observed 'caldav'.
        editable:
          type: boolean
          nullable: true
        owner_email:
          type: string
          nullable: true
        supports_notification_settings:
          type: boolean
          nullable: true
      additionalProperties: true

    CalendarEventResource:
      type: object
      properties:
        type:
          type: string
          enum: [ calendar_event ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/CalendarEventAttributes"
      required: [ type, id ]

    # ---- Rewards ----
    RewardAttributes:
      type: object
      properties:
        name:
          type: string
        description:
          type: string
          nullable: true
        emoji_icon:
          type: string
          nullable: true
        point_value:
          type: integer
          nullable: true
        category_id:
          type: string
          nullable: true
        category_ids:
          type: array
          nullable: true
          items: { type: string }
        respawn_on_redemption:
          type: boolean
          nullable: true
      additionalProperties: true

    RewardResource:
      type: object
      properties:
        type:
          type: string
          enum: [ reward ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/RewardAttributes"
      required: [ type, id ]

    RewardPointAttributes:
      type: object
      additionalProperties: true

    RewardPointBalance:
      type: object
      description: >
        Per-category point balance as returned (un-wrapped, not JSON:API) by
        GET /api/frames/{frameId}/reward_points.
      properties:
        category_id:
          type: integer
        lifetime_points_earned:
          type: integer
        current_point_balance:
          type: integer
      additionalProperties: true

    RewardPointResource:
      type: object
      properties:
        type:
          type: string
          enum: [ reward_point ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/RewardPointAttributes"
      required: [ type, id ]

    # ---- User ----
    UserAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    UserResource:
      type: object
      properties:
        type:
          type: string
          enum: [ user ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/UserAttributes"
      required: [ type, id ]

    PlusAccessAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    # ---- Meals ----
    MealSittingAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    MealSittingResource:
      type: object
      properties:
        type:
          type: string
          enum: [ meal_sitting ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/MealSittingAttributes"
      required: [ type, id ]

    # ---- Messages ----
    MessageAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    MessageResource:
      type: object
      properties:
        type:
          type: string
          enum: [ message ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/MessageAttributes"
      required: [ type, id ]

    CommentAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    CommentResource:
      type: object
      properties:
        type:
          type: string
          enum: [ comment ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/CommentAttributes"
      required: [ type, id ]

    LikeResource:
      type: object
      description: Placeholder; fields will be added as captured.
      properties:
        type:
          type: string
          enum: [ like ]
        id:
          type: string
      required: [ type, id ]
      additionalProperties: true

    # ---- Albums ----
    AlbumAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    AlbumResource:
      type: object
      properties:
        type:
          type: string
          enum: [ album ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/AlbumAttributes"
      required: [ type, id ]

    # ---- Automation ----
    AutoCreationIntentAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    AutoCreationIntentResource:
      type: object
      properties:
        type:
          type: string
          enum: [ auto_creation_intent ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/AutoCreationIntentAttributes"
      required: [ type, id ]

    # ---- Meal recipes & categories ----
    MealRecipeAttributes:
      type: object
      properties:
        summary:
          type: string
        description:
          type: string
          nullable: true
        note:
          type: string
          nullable: true
        rrule:
          type: string
          nullable: true
          description: RFC 5545 RRULE for recurring meal sittings.
        meal_category_id:
          type: string
          nullable: true
      additionalProperties: true

    MealRecipeResource:
      type: object
      properties:
        type:
          type: string
          enum: [ meal_recipe ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/MealRecipeAttributes"
      required: [ type, id ]

    MealCategoryAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    MealCategoryResource:
      type: object
      properties:
        type:
          type: string
          enum: [ meal_category ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/MealCategoryAttributes"
      required: [ type, id ]

    # ---- System ----
    AvatarAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    AvatarResource:
      type: object
      properties:
        type:
          type: string
          enum: [ avatar ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/AvatarAttributes"
      required: [ type, id ]

    ColorAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    ColorResource:
      type: object
      properties:
        type:
          type: string
          enum: [ color ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/ColorAttributes"
      required: [ type, id ]

    # ---- Notifications ----
    EventNotificationSettingAttributes:
      type: object
      description: Placeholder; fields will be added as captured.
      additionalProperties: true

    EventNotificationSettingResource:
      type: object
      properties:
        type:
          type: string
          enum: [ event_notification_setting ]
        id:
          type: string
        attributes:
          $ref: "#/components/schemas/EventNotificationSettingAttributes"
      required: [ type, id ]

paths:
  # ---- User ----
  /api/user:
    get:
      tags: [ User ]
      summary: Get current user
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/UserResource"
        "304":
          description: Not Modified

  /api/plus_access:
    get:
      tags: [ User ]
      summary: Get Plus/premium subscription status

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: object
                    description: Plus access details. Schema to be expanded as captured.
                    additionalProperties: true
        "304":
          description: Not Modified

  # ---- Frames (by type) ----
  /api/frames:
    get:
      tags: [ Frames ]
      summary: List all frames
      description: >
        Lists every frame regardless of type. Observed returning 200 with a
        JSON:API collection; the response body was not captured, so the item
        schema is modelled on the typed list endpoints below.
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/FrameResource" }
        "304":
          description: Not Modified

  /api/frames/tv:
    get:
      tags: [ Frames ]
      summary: List TV-type frames

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/FrameResource" }
        "304":
          description: Not Modified

  /api/frames/calendar:
    get:
      tags: [ Frames ]
      summary: List calendar-type frames

      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/FrameResource" }
        "304":
          description: Not Modified

  /api/frames/photo:
    get:
      tags: [ Frames ]
      summary: List photo-type frames
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/FrameResource" }
        "304":
          description: Not Modified

  # ---- Frames ----
  /api/frames/{frameId}:
    get:
      tags: [ Frames ]
      summary: Get frame by id
      parameters:
        - in: path
          name: frameId
          schema:
            type: string
          required: true
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    $ref: "#/components/schemas/FrameResource"
        "304":
          description: Not Modified

  # ---- Chores ----
  /api/frames/{frameId}/chores:
    get:
      tags: [ Chores ]
      summary: List chores for a frame in a date range
      description: |
        Observed query params: after, before (YYYY-MM-DD), include_late (bool), filter=linked_to_profile.
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: after
          schema: { type: string, format: date }
        - in: query
          name: before
          schema: { type: string, format: date }
        - in: query
          name: include_late
          schema: { type: boolean }
        - in: query
          name: filter
          schema:
            type: string
            enum: [ linked_to_profile ]
        - in: query
          name: include_up_for_grabs
          schema: { type: boolean }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ChoreResource" }
                  included:
                    type: array
                    items: { $ref: "#/components/schemas/CategoryResource" }
        "304":
          description: Not Modified
    post:
      tags: [ Chores ]
      summary: Create a chore
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [ chore ]
                    attributes:
                      $ref: "#/components/schemas/ChoreAttributes"
                    relationships:
                      $ref: "#/components/schemas/ChoreRelationships"
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ChoreResource" }
                  included:
                    type: array
                    items: { $ref: "#/components/schemas/CategoryResource" }

  /api/frames/{frameId}/chores/{choreId}:
    put:
      tags: [ Chores ]
      summary: Update a chore
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: choreId
          required: true
          schema: { type: string }
        - in: query
          name: apply_to
          required: false
          schema:
            type: string
            description: "Scope for recurring chore changes. Observed values: 'this',
              'this_and_following', 'all'"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ chore ] }
                    attributes: { $ref: "#/components/schemas/ChoreAttributes" }
                    relationships: { $ref: "#/components/schemas/ChoreRelationships" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ChoreResource" }
                  included:
                    type: array
                    items: { $ref: "#/components/schemas/CategoryResource" }
    delete:
      tags: [ Chores ]
      summary: Delete a chore
      description: |
        Deletes a chore by ID. For recurring chores, use the `apply_to` param to
        control whether only this occurrence, this and following, or all occurrences
        are deleted. An alternative form using a date string as `choreId` is also
        observed (delete occurrence on a specific date).
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: choreId
          required: true
          schema: { type: string }
          description: Chore ID or YYYY-MM-DD date (for date-based deletion of recurring
            chores).
        - in: query
          name: apply_to
          required: false
          schema:
            type: string
            description: "Scope: 'this', 'this_and_following', 'all'"
      responses:
        "200":
          description: OK
        "204":
          description: No Content

  # ---- Categories ----
  /api/frames/{frameId}/categories:
    get:
      tags: [ Categories ]
      summary: List categories
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/CategoryResource" }
        "304":
          description: Not Modified

  /api/frames/{frameId}/categories/{categoryId}:
    get:
      tags: [ Categories ]
      summary: Get category by id
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: categoryId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/CategoryResource" }
    put:
      tags: [ Categories ]
      summary: Update a category
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: categoryId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ category ] }
                    attributes: { $ref: "#/components/schemas/CategoryAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/CategoryResource" }

  /api/frames/{frameId}/categories/{categoryId}/family_member:
    put:
      tags: [ Categories ]
      summary: Update the family member profile for a category
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: categoryId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ category ] }
                    attributes: { $ref: "#/components/schemas/CategoryAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/CategoryResource" }

  # ---- Devices ----
  /api/frames/{frameId}/devices:
    get:
      tags: [ Devices ]
      summary: List devices
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/DeviceResource" }
        "304":
          description: Not Modified

  # ---- Lists ----
  /api/frames/{frameId}/lists:
    get:
      tags: [ Lists ]
      summary: List all lists
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ListResource" }
        "304":
          description: Not Modified
    post:
      tags: [ Lists ]
      summary: Create a list
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ list ] }
                    attributes: { $ref: "#/components/schemas/ListAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ListResource" }

  /api/frames/{frameId}/lists/{listId}:
    get:
      tags: [ Lists ]
      summary: Get list by id
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: listId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ListResource" }
                  meta:
                    type: object
                    properties:
                      sections:
                        type: array
                        items: { type: object }
                  included:
                    type: array
                    items: { $ref: "#/components/schemas/ListItemResource" }

    put:
      tags: [ Lists ]
      summary: Update a list
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: listId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ list ] }
                    attributes: { $ref: "#/components/schemas/ListAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ListResource" }
    delete:
      tags: [ Lists ]
      summary: Delete a list
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: listId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
        "204":
          description: No Content

  /api/frames/{frameId}/lists/{listId}/list_items:
    post:
      tags: [ Lists ]
      summary: Create a list item
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: listId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ list_item ] }
                    attributes: { $ref: "#/components/schemas/ListItemAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ListItemResource" }

  /api/frames/{frameId}/lists/{listId}/list_items/bulk_update_section:
    put:
      tags: [ Lists ]
      summary: Bulk move list items to a section
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: listId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    item_ids:
                      type: array
                      items: { type: string }
                    section:
                      type: string
                      nullable: true
              additionalProperties: true
      responses:
        "200":
          description: OK

  /api/frames/{frameId}/lists/{listId}/list_items/{itemId}:
    put:
      tags: [ Lists ]
      summary: Update a list item
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: listId
          required: true
          schema: { type: string }
        - in: path
          name: itemId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ list_item ] }
                    attributes: { $ref: "#/components/schemas/ListItemAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/ListItemResource" }

  # ---- Task Box ----
  /api/frames/{frameId}/task_box/items:
    get:
      tags: [ TaskBox ]
      summary: List task box items
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/TaskBoxItemResource" }
        "304":
          description: Not Modified
    post:
      tags: [ TaskBox ]
      summary: Create a task box item
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type:
                      type: string
                      enum: [ task_box_item ]
                    attributes:
                      $ref: "#/components/schemas/TaskBoxItemAttributes"
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/TaskBoxItemResource" }

  # ---- Calendars ----
  /api/frames/{frameId}/source_calendars:
    get:
      tags: [ Calendars ]
      summary: List source calendars
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/SourceCalendarResource" }
        "304":
          description: Not Modified

  /api/frames/{frameId}/calendar_events:
    get:
      tags: [ Calendars ]
      summary: List calendar events for a date range
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: date_min
          required: true
          schema: { type: string, format: date }
        - in: query
          name: date_max
          required: true
          schema: { type: string, format: date }
        - in: query
          name: timezone
          required: false
          schema: { type: string }
        - in: query
          name: include
          required: false
          schema:
            type: string
            description: "CSV: categories,calendar_account,event_notification_setting"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/CalendarEventResource" }
                  included:
                    type: array
                    items:
                      oneOf:
                        - $ref: "#/components/schemas/CategoryResource"
                        - $ref: "#/components/schemas/SourceCalendarResource"
        "304":
          description: Not Modified
    post:
      tags: [ Calendars ]
      summary: Create a calendar event
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ calendar_event ] }
                    attributes: { $ref: "#/components/schemas/CalendarEventAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/CalendarEventResource" }

  /api/frames/{frameId}/calendar_events/{eventId}:
    put:
      tags: [ Calendars ]
      summary: Update a calendar event
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: eventId
          required: true
          schema: { type: string }
        - in: query
          name: apply_to
          required: false
          schema:
            type: string
            description: "Scope for recurring event changes: 'this', 'this_and_following',
              'all'"
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ calendar_event ] }
                    attributes: { $ref: "#/components/schemas/CalendarEventAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/CalendarEventResource" }
    delete:
      tags: [ Calendars ]
      summary: Delete a calendar event
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: eventId
          required: true
          schema: { type: string }
        - in: query
          name: apply_to
          required: false
          schema:
            type: string
            description: "Scope: 'this', 'this_and_following', 'all'"
      responses:
        "200":
          description: OK
        "204":
          description: No Content

  # ---- Rewards ----
  /api/frames/{frameId}/rewards:
    get:
      tags: [ Rewards ]
      summary: List rewards
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: redeemed_at_min
          required: false
          schema: { type: string, format: date-time }
        - in: query
          name: redeemed_at_max
          required: false
          schema: { type: string, format: date-time }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/RewardResource" }
        "304":
          description: Not Modified
    post:
      tags: [ Rewards ]
      summary: Create a reward
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ reward ] }
                    attributes: { $ref: "#/components/schemas/RewardAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RewardResource" }

  /api/frames/{frameId}/rewards/{rewardId}:
    get:
      tags: [ Rewards ]
      summary: Get a reward by id
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: rewardId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RewardResource" }
    patch:
      tags: [ Rewards ]
      summary: Update a reward
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: rewardId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ reward ] }
                    attributes: { $ref: "#/components/schemas/RewardAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RewardResource" }
    delete:
      tags: [ Rewards ]
      summary: Delete a reward
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: rewardId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
        "204":
          description: No Content

  /api/frames/{frameId}/rewards/{rewardId}/redeem:
    post:
      tags: [ Rewards ]
      summary: Redeem a reward
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: rewardId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RewardResource" }

  /api/frames/{frameId}/rewards/{rewardId}/unredeem:
    post:
      tags: [ Rewards ]
      summary: Un-redeem a reward
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: rewardId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RewardResource" }

  /api/frames/{frameId}/reward_points:
    get:
      tags: [ Rewards ]
      summary: List reward points
      description: >
        Returns a bare JSON array of per-category point balances. Note this
        endpoint is NOT JSON:API-wrapped (no top-level `data`/`type`/`id`),
        unlike most other resources.
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: array
                items: { $ref: "#/components/schemas/RewardPointBalance" }
        "304":
          description: Not Modified
    post:
      tags: [ Rewards ]
      summary: Create a reward point entry
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ reward_point ] }
                    attributes: { $ref: "#/components/schemas/RewardPointAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/RewardPointResource" }

  # ---- Meals ----
  /api/frames/{frameId}/meals/categories:
    get:
      tags: [ Meals ]
      summary: List meal categories
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MealCategoryResource" }
        "304":
          description: Not Modified

  /api/frames/{frameId}/meals/recipes:
    get:
      tags: [ Meals ]
      summary: List meal recipes
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MealRecipeResource" }
        "304":
          description: Not Modified
    post:
      tags: [ Meals ]
      summary: Create a meal recipe
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ meal_recipe ] }
                    attributes: { $ref: "#/components/schemas/MealRecipeAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/MealRecipeResource" }

  /api/frames/{frameId}/meals/recipes/{recipeId}:
    get:
      tags: [ Meals ]
      summary: Get a meal recipe by id
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: recipeId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/MealRecipeResource" }
    patch:
      tags: [ Meals ]
      summary: Update a meal recipe
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: recipeId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ meal_recipe ] }
                    attributes: { $ref: "#/components/schemas/MealRecipeAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/MealRecipeResource" }
    delete:
      tags: [ Meals ]
      summary: Delete a meal recipe
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: recipeId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
        "204":
          description: No Content

  /api/frames/{frameId}/meals/recipes/{recipeId}/add_to_grocery_list:
    post:
      tags: [ Meals ]
      summary: Add a recipe's ingredients to the grocery list
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: recipeId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK

  /api/frames/{frameId}/meals/sittings:
    get:
      tags: [ Meals ]
      summary: List meal sittings for a date range
      description: |
        Observed query params: date_min, date_max (YYYY-MM-DD).
        Include param supports: meal_category, meal_recipe.
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: query
          name: date_min
          required: true
          schema: { type: string, format: date }
        - in: query
          name: date_max
          required: true
          schema: { type: string, format: date }
        - in: query
          name: include
          required: false
          schema:
            type: string
            description: "CSV: meal_category,meal_recipe"
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MealSittingResource" }
                  included:
                    type: array
                    items: { type: object, additionalProperties: true }
        "304":
          description: Not Modified
    post:
      tags: [ Meals ]
      summary: Create a meal sitting
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              properties:
                data:
                  type: object
                  properties:
                    type: { type: string, enum: [ meal_sitting ] }
                    attributes: { $ref: "#/components/schemas/MealSittingAttributes" }
                  required: [ type, attributes ]
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/MealSittingResource" }

  /api/frames/{frameId}/meals/sittings/{sittingId}/instances:
    get:
      tags: [ Meals ]
      summary: List instances of a recurring meal sitting
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: sittingId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MealSittingResource" }

  # ---- Auth (session-based) ----
  /api/sessions:
    post:
      tags: [ Auth ]
      summary: Create a session (login)
      description: |
        Session-based login observed alongside the OAuth refresh flow.
        Exact request body fields (email/password or token) are not yet captured.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: Session created; returns user and token data.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true
        "401":
          description: Invalid credentials

  /api/users:
    post:
      tags: [ Auth ]
      summary: Register a new user
      description: Exact request body fields not yet captured.
      requestBody:
        required: true
        content:
          application/json:
            schema:
              type: object
              additionalProperties: true
      responses:
        "200":
          description: User created.
          content:
            application/json:
              schema:
                type: object
                additionalProperties: true

  # ---- Messages ----
  /api/frames/{frameId}/messages:
    get:
      tags: [ Messages ]
      summary: List messages for a frame
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/MessageResource" }
        "304":
          description: Not Modified

  /api/frames/{frameId}/messages/{messageId}:
    get:
      tags: [ Messages ]
      summary: Get a message by id
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: messageId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/MessageResource" }

  /api/frames/{frameId}/messages/{messageId}/comments:
    get:
      tags: [ Messages ]
      summary: List comments on a message
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: messageId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/CommentResource" }

  /api/frames/{frameId}/messages/{messageId}/all_likes:
    get:
      tags: [ Messages ]
      summary: List likes on a message
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: messageId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/LikeResource" }

  # ---- Albums ----
  /api/frames/{frameId}/albums:
    get:
      tags: [ Albums ]
      summary: List albums for a frame
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AlbumResource" }
        "304":
          description: Not Modified

  # ---- Automation ----
  /api/frames/{frameId}/auto_creation_intents/{intentId}:
    get:
      tags: [ Automation ]
      summary: Get an auto-creation intent by id
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
        - in: path
          name: intentId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data: { $ref: "#/components/schemas/AutoCreationIntentResource" }

  # ---- System ----
  /api/avatars:
    get:
      tags: [ System ]
      summary: List available avatar images
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/AvatarResource" }
        "304":
          description: Not Modified

  /api/colors:
    get:
      tags: [ System ]
      summary: List available colours
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/ColorResource" }
        "304":
          description: Not Modified

  # ---- Notifications ----
  /api/frames/{frameId}/event_notification_settings:
    get:
      tags: [ Notifications ]
      summary: List event notification settings
      parameters:
        - in: path
          name: frameId
          required: true
          schema: { type: string }
      responses:
        "200":
          description: OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  data:
                    type: array
                    items: { $ref: "#/components/schemas/EventNotificationSettingResource" }
        "304":
          description: Not Modified
